<div class="container">
    <h1>@ViewBag.title</h1>

    <form method="post">

        @foreach (var workout in ViewBag.workouts)
        {
            <input type="checkbox" name="workoutIds" id="@workout.WorkoutID" value="@workout.WorkoutID" />
            <label for="@workout.WorkoutID">@workout.Name</label>
            <br />
        }

        <input type="submit" value="Remove Selected Workout(s)" />
    </form>
</div>