@using System.Collections.Generic;
@model WorkoutGenerator.Models.Workout

<h1>Add Exercise Record</h1>

<form asp-controller="Record" asp-action="Add" method="post">
    @foreach (var exercise in Model.Records)
    {
        <h4>@exercise.Exercise.Name</h4>
        <div class="form-group">
            <label asp-for="@exercise.Sets"></label>
            <input class="form-control" asp-for="@exercise.Sets" />
            <span asp-validation-for="@exercise.Sets"></span>
        </div>
        <div class="form-group">
            <label asp-for="@exercise.Reps"></label>
            <input class="form-control" asp-for="@exercise.Reps" />
            <span asp-validation-for="@exercise.Reps"></span>
        </div>
        <div class="form-group">
            <label asp-for="@exercise.Weight"></label>
            <input class="form-control" asp-for="@exercise.Weight" />
            <span asp-validation-for="@exercise.Weight"></span>
        </div>
        <input type="hidden" name="ExerciseID" value="@exercise.Exercise.ExerciseID" />
        <input type="hidden" name="WorkoutID" value="@exercise.WorkoutID" />
        <input type="hidden" name="OwnerID" value="@exercise.Exercise.OwnerId" />
    }

    <input type="submit" value="Add Exercise Record" />
</form>
