<div class="container">
    <h1>@ViewBag.title</h1>

    <form method="post">

        @foreach (var record in ViewBag.records)
        {
            <input type="checkbox" name="recordIds" id="@record.RecordID" value="@record.RecordID" />
            <label for="@record.RecordID">@record.DateCreated</label>
            <br />
        }

        <input type="submit" value="Remove Selected Record(s)" />
    </form>
</div>